.bordered {
  border: 3px solid red;
}

.pointer {
  cursor: pointer;
}

.wrapper {
  height: 100vh;
}

.contacts {
  width: 35%;
}

.chat {
  width: 65%;
}

.person img {
  width: 40px;
  border-radius: 50%;
}

.bell {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
}

.desktop-not i {
  color: #0dcaf0;
}

li img {
  height: 50px;
  width: 50px;
}

.span-small {
  font-size: small;
  color: rgb(160, 160, 160);
}
